<h1>Create a puppy!</h1>
<form action="/puppies/create" method="POST">
  <label>Puppy name</label>
  <input type="text" name="name"/>
  <label>Puppy breed</label>
  <input type="text" name="breed"/>
  <input type="submit"/>
</form>